{{> header}}

    <div class="row">
        <h1 class="mt-medium text-center">Edit User</h1>
    </div>
    <div class="row">
        <form action="/users/edit/{{user.id}}?_method=PATCH" method="post" class="dataForm">
            <fieldset>
                <legend>User</legend>
                <div class="grd-1-of-2">
                    <label for="username">UserName :</label>
                    <input type="text" class="dataForm__input" name="username" value="{{user.username}}" id="username">
                </div>
                <div class="grd-1-of-2">
                    <label for="role">User Role :</label>
                    <select type="select" class="dataForm__input" name="role" id="role">
                        <option {{selectAdmin}} value="Administrator">Administrator</option>
                        <option {{selectSuperAdmin}} value="superAdmin">Super Admin</option>
                    </select>
                </div>
                <div class="grd-1-of-2">
                    <label for="password">Password:</label>
                    <input type="password" class="dataForm__input" name="password"
                    id="passsword">
                </div>
            </fieldset>
            
            <input type="submit" value="Save" class="dataForm__submit">
        </form>
    </div>